@import url('https://fonts.googleapis.com/css?family=Montserrat');
*{
  text-transform: uppercase;
  color: black;
}
body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(35,33, 54, 99.5%);
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}